/.idea
/.ipynb_checkpoints
/catboost_info
/treasury
/production/config_connect.json
/develop/config_connect.json
24h_depth_boost.ipynb
binance_model v.6.ipynb
graph.ipynb
MinMaxScaler_ImageNet.ipynb
MinScaler_ImageNet.ipynb
telegram.ipynb
temp.txt
Ссылки на всякое.txt